.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  border-color: #131921;
  transition: 0.3s;
}
.header__logo:hover {
  transform: scale(1.05);
  /* box-shadow: 2px 2px 5px rgb(35, 229, 255), -2px -2px 5px rgb(0, 81, 187); */
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 15px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  font-family: "calibri";
  font-style: italic;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
  border-radius: 4%;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5px;
  margin-right: 5px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  transition: 0.3s;
}
.header__option:hover {
  transform: scale(1.1);
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  transition: 0.3s;
}
.header__optionBasket:hover {
  transform: scale(1.2);
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
